.color-title{ color:#17669b; }
.color-text{ color:#4d4d4d; }
.text-justify{ text-align: justify; }
.bg-title{ background-color:#17669b; }
.bg-title2{ background-color:#0189d3; border:none; }
.bold{ font-weight: bold; }
.txt-center{ text-align:center; }
.center{ text-align:center; }